body {
   font-family:fantasy;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
    align-items: center;
    align-self: center;
    flex-direction: column;
    height: 100vh;

}

.titleBar{
width: 100%;
justify-content: center;
color: rgb(95, 233, 221);
align-items: center;
text-align: center;
position:relative;
right: inherit;
}
.centerContent {
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background: #000000d0;
    color: white;
    border-radius: 30px;
}
.searchBar{
    
    justify-content: center;

}
#btn{
    
    background-color: aquamarine;
    cursor: pointer;
    border-color: aquamarine
    
}
#btn:hover{
    background-color:rgb(214, 40, 127);
    border-color: rgb(214, 40, 127);
}
.weatherInfo{
    
    justify-content: center;
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.city {
    padding: 15px;
    margin: 10px;
    text-shadow: 10px;
    font-size: 25px;
}

.degreeNum {
    padding: 15px;
    margin: 10px;
    font-size: 30px;
}

.weatherIcon {
    padding: 15px;
    margin: 10px;
}